@import 'config';

body {
    margin: 0;
    background-color: rgb(226, 226, 226);
    font-family: "Open sans", Verdana, sans-serif;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

h3,
h4 {
    color: #666666;
    line-height: 22px;
    font-weight: bold;

    @include media-lg {
        margin: 0px;
    }
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

p {
    font-size: 14px;
    font-weight: 100;
    color: #949494;
    line-height: 20px;
}

a {
    color: #de4278;
    font-weight: 600;
    font-size: 13px;
}

img {
    border: 0;
    width: 100%;
    max-width: 290px;
    margin-bottom: 10px;

    @include media-md {
        max-width: 500px;
    }

    @include media-lg {
        max-width: 285px;
    }

}

.wrapper {
    width: 100%;
    table-layout: fixed;
}

.main {
    width: 100%;
    max-width: 700px;
    background-color: rgb(247, 247, 247);
    text-align: center;
}

// .padding {
//     width: 290px;
//     margin: 0 auto;

//     @include media-md {
//         width: 500px;
//     }

//     @include media-lg {
//         width: 600px;
//     }
// }

// .bgcolor {
//     width: 490px;
    
    
// }

.section-unit {
    margin-top: 20px;

    // newly added start
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // newly added end
}

.logo img {
    width: 100%;
    max-width: 700px;
}

.data {
    display: inline-block;
    text-align: left;

    // newly added start
    max-width: 290px;
    // newly added end

    @include media-md {
        // newly added start
        max-width: 500px;
        // newly added end
    }

    @include media-lg {

        // newly added start
        max-width: 600px;
        // newly added end

        // see class 'bgcolor' for the max-width of the sections with background colors
        max-width: 285px;
    }
}

.data2 {
    @include media-lg {
        margin-left: 30px;
        line-height: 23px;

        @include media-lg {
            // font-size: 16px;
        }
    }
}

.data2 p {
    @include media-lg {
        margin: 5px auto;
        line-height: 18px;
    }
}

.section1-data2 h4 {
    color: #00427c;
    line-height: 23px;

    @include media-lg {
        font-size: 16px;
        
    }
}

.section2 {
    background-color: #00427c;
    
}

.section2-data1 {

    margin-top: 15px;
    margin-bottom: 30px;


    @include media-lg {
        margin-top: 30px;
    }
    
    
}

.section3-data2 {
    margin-bottom: 10px;
}

.section3 {
    margin-top: 30px;
}

.section4 {
    margin-bottom: 40px;
}

.section5 {
    background-color: #de4278;
}

.section5-data1 {
    margin-top: 10px;
    margin-bottom: 10px;

    @include media-lg {
        margin-top: 30px;
    }
}

.section6-data1 {
    margin-top: 15px;
}

.section7-data1 {
    margin-top: 15px;
}

.section8-data1 {
    margin-top: 15px;
}

.section9-data1 {
    margin-top: 15px;
}

.section10-data1 {
    margin-top: 15px;
}

.section11-data1 {
    margin-top: 15px;
}

.section12-data1 {
    margin-top: 15px;
}

.section12-data2 a {
    line-height: 30px;
}

.section13-data1 {
    margin-top: 10px;
    margin-bottom: 10px;

    @include media-lg {
        margin-top: 30px;
    }
}

.section6,
.section7,
.section8,
.section9,
.section10,
.section11,
.section12 {
    @include media-lg {
        margin-top: 50px;
    }
}


.section14 .data,
.section15 .data,
.section16 .data,
.section17 .data {
    @include media-lg {
        max-width: 600px;
    }
}


.section14-data1,
.section14-data3 {
    text-align: center;
}

.section14-data1 img {
    width: 260px;
}

.section14-data3 {
    margin-top: 25px;
}

.section14-data3 img {
    width: 310px;
}

.section15-data1 h2,
.section16-data1 h2,
.section17-data1 h2 {
    text-align: center;
}

.section6 td,
.section7 td,
.section8 td,
.section9 td,
.section10 td,
.section11 td,
.section12 td {
    @include media-lg {
        vertical-align: top;
    }
}

.section2-data1 h3, 
.section2-data1 p, 
.section2-data1 a {
    color: #ffffff;

}

.section5-data1 h3, 
.section5-data1 p, 
.section5-data1 a {
    color: #ffffff;
}

.section13-data1 h3, 
.section13-data1 p, 
.section13-data1 a {
    color: #ffffff;
}

.section13 {
    background-color: #00b6ef;
}

.demand {
    margin: 20px auto;
}

.demand a {
    font-size: 15px;
}

.bgcolor {

    text-align: center;

    // this just changes the max-width for the section with background colors
    @include media-lg {
        max-width: 600px;
    }   
}